<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="text-theme-primary">{{postStatus}} New Post</h3>
      <p class="mb-5">You can {{postStatus}} post here</p>
    </div>
  </div>

  <div *ngIf="postForm">
    <form action="" [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-7">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label for="">Title</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="title"
                  [ngClass]="{'is-invalid': postForm.controls['title'].touched && postForm.controls['title'].invalid}"
                >
                <div *ngIf="postForm.controls['title'].errors?.['required']">
                  <div class="alert alert-danger" *ngIf="postForm.controls['title'].touched && postForm.controls['title'].invalid">Title must be required.</div>
                </div>
                <div *ngIf="postForm.controls['title'].errors?.['minlength']">
                  <div class="alert alert-danger" *ngIf="postForm.controls['title'].touched && postForm.controls['title'].invalid">Title must be at least 10 charactors long.</div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Excerpt</label>
                <textarea
                  name="" id=""
                  cols="30"
                  rows="10"
                  class="form-control"
                  formControlName="excerpt"
                  [ngClass]="{'is-invalid': postForm.controls['excerpt'].touched && postForm.controls['excerpt'].invalid}"
                ></textarea>
                <div *ngIf="postForm.controls['excerpt'].errors?.['required']">
                  <div class="alert alert-danger" *ngIf="postForm.controls['excerpt'].touched && postForm.controls['excerpt'].invalid">Excerpt must be required.</div>
                </div>
                <div *ngIf="postForm.controls['excerpt'].errors?.['minlength']">
                  <div class="alert alert-danger" *ngIf="postForm.controls['excerpt'].touched && postForm.controls['excerpt'].invalid">Excerpt must be at least 50 charactors long.</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <label for="">Please select a post category</label>
            <select
              name=""
              id=""
              class="form-control"
              formControlName="category"
              [ngClass]="{'is-invalid': postForm.controls['category'].touched && postForm.controls['category'].invalid}"
            >
              <option *ngFor="let category of categories" value="{{category.id}}-{{category.data?.category}}">{{category.data?.category}}</option>
            </select>

            <div *ngIf="postForm.controls['category'].errors?.['required']">
              <div class="alert alert-danger" *ngIf="postForm.controls['category'].touched && postForm.controls['category'].invalid">Please select a category.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="">Post image</label>
            <img [src]="imgSrc" class="form-control img-fluid img-preview" alt="">
            <input
              type="file"
              class="form-control"
              accept="image/*"
              (change)="showPreview($event)"
              formControlName="postImg"
              [ngClass]="{'is-invalid': postForm.controls['postImg'].touched && postForm.controls['postImg'].invalid}"
            >
            <div *ngIf="postForm.controls['postImg'].errors?.['required']">
              <div class="alert alert-danger" *ngIf="postForm.controls['postImg'].touched && postForm.controls['postImg'].invalid">Post image must be required.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-5">
        <div class="col-md-12">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label for="">Content</label>
                <angular-editor placeholder="Add your content here" formControlName="content"></angular-editor>
                <div *ngIf="postForm.controls['content'].errors?.['required']">
                  <div class="alert alert-danger" *ngIf="postForm.controls['content'].touched && postForm.controls['content'].invalid">Content must be required.</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-center mt-5">
          <button class="btn btn-info bg-theme" [disabled]="postForm.invalid">{{postStatus}} Post</button>
          <button class="btn btn-warning ml-3" routerLink="/posts">Back to Posts</button>
        </div>
      </div>
    </form>
  </div>
</div>

