<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <div class="text-center">
        <h3 class="text-center text-theme-primary">{{formStatus}} Categories</h3>
        <p class="text-center">You can {{formStatus}} new categories from here...</p>
        <button class="btn btn-warning ml-2 text-center mb-5" routerLink="/">Back to Dashboard</button>
      </div>


      <form action="" class="form-inline text-center align-items-start" #categoryForm = 'ngForm' (ngSubmit)="onSubmit(categoryForm)">
        <div class="form-group col-md-10">
          <input
            type="text"
            name="category"
            class="form-control shadow-effect"
            placeholder="Add New Categories"
            #newCategory = 'ngModel'
            [(ngModel)]="formCategory"
            required
            [ngClass]="{'is-invalid': newCategory.touched && newCategory.invalid}"
          >
          <div class="alert alert-danger w-100" *ngIf="newCategory.touched && newCategory.invalid">
            Category field is required
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-block btn-info mb-2 btn-theme" [disabled]="categoryForm.invalid">{{formStatus}} Category</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categoryArray; let i = index">
                <td class="align-items-center">{{ i + 1 }}</td>
                <td class="align-items-center">{{category.data.category}}</td>
                <td>
                  <button class="btn btn-sm btn-warning" (click)="onEdit(category.id, category.data.category)">Edit</button>
                  <button class="btn btn-sm btn-danger ml-2" (click)="onDelete(category.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
